/*
*= require bootstrap/css/bootstrap
*= require bootstrap/css/bootstrap-theme
*= require animate
*= require_self
*= require sweetalert
*= require fileinput
*/


.classContainer {
  width: 1292px !important;
}

.rowLogin {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
  margin-right: -15px !important;
  margin-left: -15px !important;
  min-height: 100% !important;
  height: 100% !important;
  padding: 0 0 50px !important;
}
.rowMenu {
  margin-top: 140px !important;
  margin-bottom: 60px !important;
  margin-right: -15px !important;
  margin-left: -15px !important;
  min-height: 100% !important;
  height: 100% !important;
  padding: 0 0 145px !important;
}
.row {
  margin-top: 4px !important;
  margin-right: -15px !important;
  margin-left: -15px !important;
  min-height: 100% !important;
  height: 100% !important;
  padding: 0 0 50px !important;
  font-size: 13px !important;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto !important;
  padding-top: 60px;
}
.btn-yellow {
  color: #000000;
  background-color: #f7d900;
  border-color: #f7d900;
  text-decoration: none !important;
  font-family: sans-serif  !important;
  font-size: 18px !important;
  border-radius: 0px !important;
}
.loghi-opel{
  vertical-align: inherit !important;
}
.btn-login{
  width: 100% !important;
}
.btn-leaflet{
  border-radius: 0px !important;
  background-color: #000 !important;
  border-color: #000 !important;
  color:#fff !important;
}
.btn-ricerca{
    height: 36px !important;
}
.navbar {
  border-radius: 0px !important;
}
.container-fluid {
  background-color: #060606 !important;
  border-color: #060606 !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.containerMenu {
  background-color: #060606 !important;
  border-color: #060606 !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  width: 1185px !important;
}
.panel {
  border-radius: 0px !important;
}
a {
  color: #000 !important;
  text-decoration: none !important;
  font-family: sans-serif  !important;
}
a:hover,
a:focus {
  color: #000 !important;
  text-decoration: none !important;
  outline: thin dotted !important;
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: 0px !important;
}
.dealerNome, .dealerNome:hover, .dealerNome:focus{
  color: #808080;
  text-decoration: none !important;
  outline: thin dotted !important;
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: 1px !important;
}

.pagination > li > a, .pagination > li > span{
  color: #808080 !important;
  text-decoration: none !important;
  font-family: sans-serif  !important;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #ffffff !important;
  text-decoration: none !important;
  font-family: sans-serif  !important;
  background-color: #f7d900 !important;
  border-color: #f7d900 !important;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3 !important;
  color: #ffffff !important;
  background-color: #f7d900 !important;
  border-color: #f7d900 !important;
  border-radius: 0px !important;
}
.pagination > li:last-child > a, .pagination > li:last-child > span, li:first-child > a, .pagination > li:first-child > span {
  border-radius: 0px !important;
}

.h3, .h1, .h2, .h4 {
  font-family: sans-serif  !important;
}
.navbar-nav > li > a {
  padding-top: 25px!important;
  padding-bottom: 15px!important;
  color: #fff !important;
  text-decoration: none !important;
}
.navbar-nav > li > a:hover, a:focus {
  color: #fff !important;
  text-decoration: none !important;
}

.form-group-sm .form-control {
  border-radius: 0px !important;
}
.form-control {
  border-radius: 0px !important;
}
.inputLogin{
  margin-bottom: 25px !important;
}
.area-nuovaPolizza {
  padding-left: 2px !important;
}
.input-ricerca{
  padding: 2px 1px !important;
}
.btn-nuovaPolizza{
  display: inline;
  margin-bottom: 0;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  padding: 7px 0 7px 0 !important;
  font-size: 15px !important;
  line-height: 1.42857143;
  border-radius: 0px;
  color: #000;
  background-color: #f7d900;
  border-color: #f7d900;
}
.area-ricerca{
  margin-left: 15px !important;
}
.margin-login{
  margin-left: 50px !important;
}
.margin-loginBody{
  margin-left: 90px !important;
  margin-right: 85px !important;
}
.btn {
     border-radius: 0px !important;
     background-color: #f7d900 !important;
     border-color: #f7d900 !important;
   }


.btn:hover, .btn:focus, .btn.focus {
  color: #000 !important;
  text-decoration: none !important;
}


.footer {
  height: 80px !important;
}

.footer > div > p {
  padding: 0 15px;
}
.testofooter{
  font-family: sans-serif  !important;
  font-size: 0.75em;
}
.article-title{
  color: #000 !important;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #000 !important;
  border-color: #000;

}
.nav .open > a:hover,
.nav .open > a:focus {
  color: #fff!important;
  background-color: #f7d900 !important;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #000 !important;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
  background-color: #f7d900 !important;
  color: #fff!important;
}

.testoParagraph{
  color: #ffffff !important;
}
.testoTypeahead{
  color: #000 !important;
}
.navbar-default .navbar-nav > .active > a{
  border-bottom: 2px solid black;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #adafae;
  opacity: 1;
  color: #fff !important;
}
.fa-3x{
  float:left !important;
  margin-top: 1px !important;
}
.testo-datiAnagrafici{
  font-size: 130%;
  padding-top: 3px;
  color: #fff !important;
}

.testo-navBar{
  margin-top: 1px !important;
  font-size:large !important;
}
.testo-navBarTitolo{
  margin-top: 26px !important;
  font-size:large !important;
}

.navbar-default {
 border: 1px !important;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px !important;
  border-radius: 1px !important;
  background-color: #f7d900 !important;
}

.alert-danger, .error-list {
  padding: 15px;
  color: #000000 !important;
  background-color: #f7d900 !important;
  border-color: #f7d900 !important;
  text-decoration: none !important;
  font-family: sans-serif  !important;
  font-size: 18px !important;
  border-radius: 0px !important;
}
.bottone-scarica{
  margin-right: 285px !important;
}
.bottone-accetto{
  margin-left: 65px !important;
}

.tt-highlight {
  color: #000 !important;
}

.popover-content{
  background-color: #f7d900 !important;
}

.targaMaiuscola
{
  text-transform:uppercase !important;
}

.marginesopra{
  margin-top: 20px !important;
}
.marginesopraplus{
  margin-top: 25px !important;
}

.labelErrore{
  border-radius: 4px!important;
  color: #000!important;
  background-color:#f7d900 !important;
  font-size: 20px;
  padding-left: 15px!important;
}
.btn-avanti {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
  padding: 9px 11px !important;
}